<style type="text/css">

.section.first {
  background: url("/assets/texture3.jpg") repeat;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
}

.section2 {
  padding-top: 20px;
  padding-bottom: 30px;
}

.pricing-table {
  border: 1px solid #ced7df;
  border-radius: 3px;
  padding-bottom: 586px;
  background: #fefefe;
  box-sizing: border-box;
}

.pricing-table-column {
  width: 33.33%;
  box-sizing: border-box;
  float: left;
  border-right: 1px solid #f4f7f9;
  position: relative;
  z-index: 1;
  border-radius: 3px;
}

.pricing-cell {
  text-align: center;
  padding: 20px;
  border-bottom: 1px solid #f4f7f9;
  overflow: visible;
  position: relative;
}

.pricing-cell2 {
  text-align: center;
  padding: 100px;
  border-bottom: 1px solid #f4f7f9;
  border-left: 1px solid #f4f7f9;
  overflow: visible;
  position: relative;
}

.pricing-cell h3 {
  font-size: 22px;
  font-weight: 400;
  margin: 0;
}

.pricing-table--price {
  background: #e9f4fd;
  color: #168eea;
  font-weight: 400;
  font-size: 18px;
  display: inline-block;
  margin: 0 auto;
  padding: 10px;
  border-radius: 3px;
  margin-top: 15px;
  margin-bottom: 10px;
}

.pricing-table .pricing-cell .button {
  margin-bottom: 0;
  display: block;
  z-index: 1;
}

.pricing-cell {
  text-align: center;
  padding: 20px;
  border-bottom: 1px solid #f4f7f9;
  overflow: visible;
  position: relative;
}

.pricing-cell2 {
  text-align: center;
  padding: 100px;
  border-bottom: 1px solid #f4f7f9;
  border-left: 1px solid #f4f7f9;
  overflow: visible;
  position: relative;
}

.pricing-cell3 {
  text-align: center;
  padding-bottom: 212px;
  border-bottom: 1px solid #f4f7f9;
  border-left: 1px solid #f4f7f9;
  overflow: visible;
  position: relative;
}

.pricing-cell4 {
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 1px solid #f4f7f9;
  overflow: visible;
  position: relative;
}

.pricing-table-column:nth-of-type(3) {
	background: #fff;
  box-shadow: 1px 0 2px rgba(0,0,0,.05);
  position: relative;
  z-index: 3;
  border-right: none;
}

.pricing {

  font-size: 1.2em;
  font-weight: 300;
  margin: 15px 0;
}

.pricing-cell-header {

}

.pricing-cell h3 {
  font-size: 22px;
  color: #000;
  font-weight: 400;
  margin: 0;
}

.pricing-cell p {
  font-size: 15px;
  line-height: 1.8;
}

.pricing span {
  color: #222;
  font-size: 1em;
  font-weight: 700;
}

.pricing-cell .button {
  margin-bottom: 0;
  display: block;
  z-index: 1;
}

.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}

a:hover {
  color: #333;
  text-decoration: none;
}

.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  border-color: #ccc;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.pricing-table .pricing-cell h4, .pricing-table .pricing-cell li {
  font-size: 16px;
  font-weight: 300;
  margin: 0;
}

.pricing-table .pricing-cell li {
  color: #323b43;
  list-style-type: none;
  margin: 20px 0;
  padding-left: 10px;
}

.pricing-table .pricing-cell li:first-child {
  margin-top: 0;
}

.pricing-table .pricing-cell h4, .pricing-table .pricing-cell li {
  font-size: 16px;
  font-weight: 300;
  margin: 0;
}

.pricing-table .pricing-cell ul {
  margin-top: 10px;
  margin-bottom: 50px;
  text-align: left;
}

.features1 ul {
	font-size: 14px;
  	text-align: left;
  	list-style-type: none;
}


.features2 ul {
	font-size: 14px;
  	text-align: left;
  	list-style-type: none;
}

.features3 ul {
	font-size: 14px;
  	text-align: left;
  	list-style-type: none;
}

.features1 {
  padding-bottom: 81px;
  border-bottom: 1px solid #f4f7f9;
}

.features2 {
  padding-bottom: 42px;
  border-bottom: 1px solid #f4f7f9;
}

.features3 {
  border-bottom: 1px solid #ced7df;
}

.pricing-cell.expo {
  border-bottom: 1px solid #fefefe;
}


.timespan {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  border: 1px solid #d4d4d4;
  width: 250px;
  height: 34px;
  display: inline-block;
}

.logo {
  text-transform: uppercase;
  font-size: 1.2em;
  letter-spacing: -1px;
  font-weight: 300;
  margin-bottom: 15px;
  color: #f1f1f1;
}

h2.subtitle {
  font-weight: 300;
  font-size: 1.4em;
  line-height: 1.6;
  margin-bottom: 18px;
}

body {
  font-family: 'Raleway', 'Proxima Nova', 'Lato', Calibri, Arial, sans-serif;
  color: #222;
  height: 100%;
  font-size: 18px;
  overflow: hidden;
  background-color: #fff;
}

</style>

<div class="section first">
	<div class="row">
		<div class="medium-10 large-7 medium-centered columns text-center">

			<div class="row fade-in">
				<div class="small-9 medium-4 small-centered columns">
					<div class="logo">
						<img src="assets/logo.png" />
					</div>
				</div>
			</div>

			<div class="fade-in one">
				<h1>Built to Optimize Your Event Marketing</h1>
			</div>

			<h2 class="subtitle fade-in two">The best way to <strong>improve</strong> your <br>events and sell <strong>more</strong> tickets.</h2>


		</div>
	</div>
</div>


<div class="section2">
	<div class="row">
		<div class="medium-11 medium-centered columns text-center">

		<p class="bottom_bar"><strong>Start your 30-day unlimited free trial.</strong> No obligation, no credit card required.<br> <br> Choose the plan that works best for you.</p>

		<div class="row">
			<div id="" class="col-sm-offset-4 col-sm-4 col-xs-12 timespan">
				<div id="timespan-inner">
					<a href="" data-per="month" class="one-time active" ng-click="togglePricing('one-time')">
						One time					</a>
					<a href="" ng-click="togglePricing('annual')" class="annual">
                        Monthly                    </a>
				</div>
			</div>
		</div>



	<div class="pricing clearfix">

		<div class="pricing-table clearfix">


			<div class="pricing-table-column" style=" width: 25%">
					<div class="pricing-cell pricing-cell-header">
						<h3><strong>Basic</strong></h3>
						<p>Best for the curious product explorer.</p>
						<div class="pricing-table--price"><span>Free</span></div>
						<br><br>
						<a class="btn btn-default" href="#" role="button">Start Your Free 30-Day Trial</a>
					</div>

					<div class="pricing-cell">
						<h4><span>1</span> User</h4>
					</div>

					<div class="pricing-cell">
						<h4><span>1</span> Event a month</h4>
					</div>
					
					<div class="features1">
						<ul>
							<li><p>Manage up to <span>50</span> profiles</p></li>
							<li><p><span>300</span> email credits per month</p></li>
						</ul>
					</div>

			</div>
							



			<div class="pricing-table-column" style=" width: 25%">
					<div class="pricing-cell pricing-cell--header">
						<h3><strong>Planner</strong></h3>
						<p>Best for the casual meetup events.</p>
						<div class="pricing-table--price"><span>$49</span> per month</div>
						<br><br>
						<a class="btn btn-default" href="#" role="button">Start Your Free 30-Day Trial</a>
					</div>

					<div class="pricing-cell">
						<h4><span>1</span> User</h4>
					</div>

					<div class="pricing-cell">
						<h4><span>2</span> Events a month</h4>
					</div>

					<div class="features2">
						<ul>
							<li><p>Manage up to <span>1000</span> profiles</p></li>
							<li><p><span>3000</span> email credits per month</p></li>
							<li><p><span>Custom</span> Url</p></li>
						</ul>
					</div>
			
				</div>

				<div class="pricing-table-column" style=" width: 25%">
					<div class="pricing-cell pricing-cell--header">
						<h3><strong>Organiser</strong></h3>
						<p>Best for large events and tradeshows.</p>
						<div class="pricing-table--price"><span>$149</span> per month</div>
						<br><br>
						<a class="btn btn-default" href="#" role="button">Start Your Free 30-Day Trial</a>
					</div>

					<div class="pricing-cell">
						<h4><span>3</span> Users</h4>
					</div>

					<div class="pricing-cell">
						<h4><span>Unlimited</span> Events a month</h4>
					</div>


					<div class="features3">
						<ul>
							<li><p>Manage up to <span>7000</span> profiles</p></li>
							<li><p><span>20,000</span> email credits per month</p></li>
							<li><p><span>Custom</span> Url</p></li>
							<li><p><span>Remove</span> EventNinja Branding</p></li>
						</ul>
					</div>
			</div>
			
				<div class="pricing-table-column" style=" width: 25%">
					<div class="pricing-cell expo">
						<h3><strong>Expo</strong></h3>
						<br>
						<br><br><br><br><br><br>
						<p>Need more events, more capacity or want a quote? </p>

						<a class="btn btn-default" href="mailto:konnichiwa@eventninja.io" role="button">Contact Us</a>
					</div>					
				</div>
	
	</div>

	<!-- One time -->

	<div class="pricing clearfix">
	
		<div class="pricing-table clearfix">



			<div class="pricing-table-column" style=" width: 50%">
					<div class="pricing-cell pricing-cell--header">
						<h3><strong>Planner</strong></h3>
						<p>Best for the casual meetup events.</p>
						<div class="pricing-table--price"><span>$59 </span>/2 events</div>
						<br><br>
						<a class="btn btn-default" href="#" role="button">30 Day Money Back Guarantee, Start Now</a>
					</div>

					<div class="pricing-cell">
						<h4><span>1</span> User</h4>
					</div>

					<div class="pricing-cell">
						<h4>Create <span>2</span> Events</h4>
					</div>

					<div class="features2">
						<ul>
							<li><p>Manage up to <span>500</span> profiles</p></li>
							<li><p><span>1500</span> email credits</p></li>
							<li><p><span>Custom</span> Url</p></li>
						</ul>
					</div>
			
				</div>

				<div class="pricing-table-column" style=" width: 50%">
					<div class="pricing-cell pricing-cell--header">
						<h3><strong>Organiser</strong></h3>
						<p>Best for large events and tradeshows.</p>
						<div class="pricing-table--price"><span>$159 </span>/3 events</div>
						<br><br>
						<a class="btn btn-default" href="#" role="button">30 Day Money Back Guarantee, Start Now</a>
					</div>

					<div class="pricing-cell">
						<h4><span>3</span> Users</h4>
					</div>

					<div class="pricing-cell">
						<h4>Create <span>3</span> Events</h4>
					</div>


					<div class="features3">
						<ul>
							<li><p>Manage up to <span>5000</span> profiles</p></li>
							<li><p><span>15,000</span> email credits per month</p></li>
							<li><p><span>Custom</span> Url</p></li>
							<li><p><span>Remove</span> EventNinja Branding</p></li>
						</ul>
					</div>
			</div>

	</div>

	</div>

		<!-- One time end -->

	

		</div>
	</div>
</div>


<div class="section gray">
	<div class="row">
		<div class="large-11 medium-centered columns text-center">

			<h2 class="bottom_bar">MARKETING TOOLS</h2>

			<p>EventNinja ties data to people who attend your events to see who they are and how often they attend. See groups of attendees with similar activity profiles, improve your events by following along as people experience it, or send attendees a message to get their feedback.</p>

			<br>
			<br>
			<div class="row">
		
				<div class="medium-6 columns text-left">

					<i class="fa fa-user fa-3x pull-left"></i>
					<h5 >PEOPLE ANALYTICS</h5>

					<h4>It's time to get to know your attendees.</h4>

					<p>A fully integrated system for managing and maintaining interactions with attendees.</p>

					<ul>
						<li>Easily add, merge, tag and export attendees</li>
						<li>View attendees profile history</li>
						<li>Create and manage lists</li>
						<li>Access and save queries</li>
						<li>Access Full Contact API</li>


					</ul>
				</div>

			

				<div class="medium-6 columns text-left">
					<i class="fa fa-envelope fa-3x pull-left"></i>
					<h5>COMMUNICATION MANAGER</h5>

					<h4>Get personal. Send them a message.</h4>

					<p>Empower your marketing team to take action on what they learn. </p>

					<ul>
						<li>Send custom event communications</li>
						<li>Purchase additional email credits</li>
						<li>Automated emails</li>
						<li>Email scheduling</li>
						<li>Email analytics</li>
					</ul>
				</div>
			</div>

			
		</div>
	</div>
</div>


<div class="section">
	<div class="row">
		<div class="large-11 medium-centered columns text-center">

			<h2 class="bottom_bar">SALES ANALYTICS</h2>
			<br>
			<br>

			<div class="row">
		
				<div class="medium-6 columns text-left">
					<i class="fa fa-users fa-3x pull-left"></i>
					<h5>RETENTION REPORTS</h5>

					<h4>See the full picture with retention.</h4>

					<p>Visualise how often your attendees return and engage with your events.</p>

					<p>Retention reports display attendees recurring behavior, but it can also show follow-up behavior. If two behaviors are related, then retention reports will show how often an attendee purchased a ticket then the other.</p>

				</div>

			

				<div class="medium-6 columns text-left">
					<i class="fa fa-usd fa-3x pull-left"></i>
					<h5>REVENUE REPORTS</h5>

					<h4>Know where your money is best spent.</h4>

					<p>This gives you metrics like:</p>

					<p>The total revenue you've received from each traffic source for single and all events</p>
					
					<p>The average revenue of customers from that traffic source for single and all events</p>
					
					<p>The total value you can expect to receive in the long term (we call this lifetime value)</p>
					</ul>
				</div>
			</div>

		</div>
	</div>
</div>

<div class="section gray">
	<div class="row">
		<div class="large-11 medium-centered columns text-center">

			<h2 class="bottom_bar">ADDITIONAL ADD-ONS</h2>
			<br>
			<br>
			<div class="row">
		
				<div class="medium-3 columns text-center">
					<i class="fa fa-envelope-o fa-3x"></i>
					<h5>EMAIL CREDITS</h5>
					<p>Almost out? Upgrade anytime with flexible options starting at $30 for 1,000 additional email credits.</p>
				</div>


				<div class="medium-3 columns text-center">
					<i class="fa fa-ticket fa-3x"></i>
					<h5>EASY TICKETING</h5>
					<p>Create and sell tickets at your event. A standard fee of 2.0% + £0.5 applies for each ticket sold across all packages.</p>
				</div>

				<div class="medium-3 columns text-center">
					<i class="fa fa-check-square-o fa-3x"></i>
					<h5>CUSTOM FORMS</h5>
					<p>Ask & analyse all the questions you need for your event with customizable forms and charts.</p>
				</div>

				<div class="medium-3 columns text-center">
					<i class="fa fa-cog fa-3x"></i>
					<h5>WIDGET</h5>
					<p>Share your events around the web with our Ticket Widget.</p>
				</div>

			</div>
		</div>
	</div>
</div>


<div class="section">
	<div class="row">
		<div class="medium-10 large-11 medium-centered columns text-center">

			<h2 class="bottom_bar">Frequently Asked Questions</h2>

			<div class="row">
				<div class="medium-6 columns text-left">
					<h4>What do I get in the 30 day free trial?</h4>
					<p>It’s simple really – you get unlimited access to all the features in the organiser plan, and should you face a problem, have a question, or simply want to talk, we are always there – via email and chat.</p>
				</div>
				<div class="medium-6 columns text-left">
					<h4>What if my usage goes above my subscription plan limit?</h4>
					<p>You’ll be notified when that happens. You can choose to upgrade if that works for you. Otherwise, we will contact you and discuss the possible options to meet your business goals. The best option may not necessarily be an upgrade.</p>
				</div>
				<div class="medium-6 columns text-left">
					<h4>What types of payment do you accept?</h4>
					<p>We accept Stripe and major credit cards for online payment. If you’d like us to accept any form of offline payment, please get in touch with us.</p>
				</div>
				<div class="medium-6 columns text-left">
					<h4>Is my data safe?</h4>
					<p>We take data security very seriously. All customer data is securely stored in Amazon data centers, and the network design ensures no unauthorized access. All web interactions are encrypted through SSL</p>
				</div>
				<div class="medium-6 columns text-left">
					<h4>Who owns my data?</h4>
					<p>You, of course. It’s your data after all. We want you to use LeadSquared, because you love using it, not because we have held your data “hostage”. You can export all your lead data, email campaign reports & landing page reports from LeadSquared whenever you want.</p>
				</div>
				<div class="medium-6 columns text-left">
					<h4>Can I upgrade or downgrade my subscription?</h4>
					<p>You can upgrade anytime. For downgrade, you need to complete the subscription term.</p>
				</div>
			</div>

		</div>
	</div>
</div>


<div class="section first">
	<div class="row">
		<div class="medium-10 large-10 medium-centered columns text-center">

			<div class="row">	
				<div class="medium-9 medium-centered columns">
					<h2 class="subtitle"><strong>Start Improving Your Event Marketing Today</strong></h2>
				</div>
			</div>
<!--
			<form action="//softi.us7.list-manage.com/subscribe/post?u=9de6c143943eb60e05fd84427&amp;id=06f9dfd459" method="post" name="mc-embedded-subscribe-form" target="_blank">
				<div class="row">
					<div class="medium-4 columns">
						<input type="text" value="" name="FNAME" class="mobile-margin" id="mce-FNAME" placeholder="Your name" required>
					</div>
					<div class=" medium-4 columns">
						<input type="email" value="" name="EMAIL" class="mobile-margin" id="mce-EMAIL" placeholder="Your email" required>
					</div>
					<div class="medium-4 columns">
						<input type="submit" class="cta cobalt medium uppercase full" value="Get a FREE invite">
					</div>
				</div>
			</form>
			<p class="mini">PSSST! The first 300 people will get 50% OFF EasyRetention for life!</p>
-->
		</div>
	</div>
</div>

<footer>
Made with ♥ in London. <a href="">
</footer>