<style type="text/css">

.section.first {
  background: url("/assets/texture.png") repeat;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
}

.section2 {
  padding-top: 20px;
  padding-bottom: 30px;
}

.pricing-table {
  border: 1px solid #ced7df;
  border-radius: 3px;
  box-sizing: border-box;
}

.pricing-table-column {
  width: 33.33%;
  box-sizing: border-box;
  float: left;
  background: #fefefe;
  border-right: 1px solid #f4f7f9;
  position: relative;
  z-index: 1;
  border-radius: 3px;
}

.pricing-cell {
  text-align: center;
  padding: 20px;
  border-bottom: 1px solid #f4f7f9;
  overflow: visible;
  position: relative;
}

.pricing-cell2 {
  text-align: center;
  padding: 100px;
  border-bottom: 1px solid #f4f7f9;
  border-left: 1px solid #f4f7f9;
  overflow: visible;
  position: relative;
}

.pricing-cell h3 {
  font-size: 22px;
  font-weight: 400;
  margin: 0;
}

.pricing-table--price {
  background: #e9f4fd;
  color: #168eea;
  font-weight: 400;
  font-size: 18px;
  display: inline-block;
  margin: 0 auto;
  padding: 10px;
  border-radius: 3px;
  margin-top: 15px;
  margin-bottom: 10px;
}

.pricing-table .pricing-cell .button {
  margin-bottom: 0;
  display: block;
  z-index: 1;
}

.pricing-cell {
  text-align: center;
  padding: 20px;
  border-bottom: 1px solid #f4f7f9;
  overflow: visible;
  position: relative;
}

.pricing-cell2 {
  text-align: center;
  padding: 100px;
  border-bottom: 1px solid #f4f7f9;
  border-left: 1px solid #f4f7f9;
  overflow: visible;
  position: relative;
}

.pricing-cell3 {
  text-align: center;
  padding-bottom: 212px;
  border-bottom: 1px solid #f4f7f9;
  border-left: 1px solid #f4f7f9;
  overflow: visible;
  position: relative;
}

.pricing-cell4 {
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 1px solid #f4f7f9;
  overflow: visible;
  position: relative;
}

.pricing-table-column:nth-of-type(3) {
  background: #fff;
  box-shadow: 1px 0 2px rgba(0,0,0,.05);
  position: relative;
  z-index: 3;
  border-right: none;
}

.pricing {

  font-size: 1.2em;
  font-weight: 300;
  margin: 15px 0;
}

.pricing-cell-header {

}

.pricing-cell h3 {
  font-size: 22px;
  color: #000;
  font-weight: 400;
  margin: 0;
}

.pricing-cell p {
  font-size: 15px;
  line-height: 1.8;
}

.pricing span {
  color: #222;
  font-size: 1em;
  font-weight: 700;
}

.pricing-cell .button {
  margin-bottom: 0;
  display: block;
  z-index: 1;
}

.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}

a:hover {
  color: #333;
  text-decoration: none;
}

.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  border-color: #ccc;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.pricing-table .pricing-cell h4, .pricing-table .pricing-cell li {
  font-size: 16px;
  font-weight: 300;
  margin: 0;
}

.pricing-table .pricing-cell li {
  color: #323b43;
  list-style-type: none;
  margin: 20px 0;
  padding-left: 10px;
}

.pricing-table .pricing-cell li:first-child {
  margin-top: 0;
}

.pricing-table .pricing-cell h4, .pricing-table .pricing-cell li {
  font-size: 16px;
  font-weight: 300;
  margin: 0;
}

.pricing-table .pricing-cell ul {
  margin-top: 10px;
  margin-bottom: 50px;
  text-align: left;
}3

</style>

<div class="section first">
	<div class="row">
		<div class="medium-10 large-7 medium-centered columns text-center">

			<div class="row fade-in">
				<div class="small-9 medium-4 small-centered columns">
					<div class="logo">
						<img src="assets/EN_logo.png" alt="Easyretentionlogo 919c892cdd47e7ce873c57a9bfeff8b5af3c3cb3d7a0598f7f56c0b5ce26da74" />
					</div>
				</div>
			</div>

			<div class="fade-in one">
				<h1>Optimize your event marketing</h1>
			</div>

			<h2 class="subtitle fade-in two">The <strong>best</strong> way to <strong>increase</strong> your purchasing powering when liaising with sponsors; boost your bottom line and make smarter decisions.</h2>


		</div>
	</div>
</div>


<div class="section2">
	<div class="row">
		<div class="medium-11 medium-centered columns text-center">

		<p class="bottom_bar"><strong>Start your 14-day unlimited free trial.</strong> No obligation, no credit card required.</p>

			<div class="pricing clearfix">
		<div class="pricing-table clearfix">


			<div class="pricing-table-column" style=" width: 25%">
					<div class="pricing-cell pricing-cell-header">
						<h3><strong>Basic</strong></h3>
						<p>Best for the casual meetup events, who plan events in advance</p>
						<div class="pricing-table--price"><span>Free</span></div>
						<br><br>
						<a class="btn btn-default" href="#" role="button">Start Your Free 14-Day Trial</a>
					</div>

					<div class="pricing-cell">
						<h4><span>1</span> User</h4>
					</div>

					<div class="pricing-cell">
						<h4><span>1</span> Events a month</h4>
					</div>
				
					<div class="pricing-cell">
						
						<ul>
							<li><i class="tooltip-top" data-tooltip="Schedule as many posts as you need with Buffer for Business. No more queue limits means less time managing your social media schedule!">+</i><span>50</span> Profile

							<li><i class="tooltip-top" data-tooltip="Schedule as many posts as you need with Buffer for Business. No more queue limits means less time managing your social media schedule!">+</i><span>300</span> total emails a month
							</li>
						</ul>
						

					</div>

			

			</div>
							



			<div class="pricing-table-column" style=" width: 25%">
					<div class="pricing-cell pricing-cell--header">
						<h3><strong>Planner</strong></h3>
						<p>Best for the casual meetup events, who plan events in advance</p>
						<div class="pricing-table--price"><span>$49</span> per month</div>
						<br><br>
						<a class="btn btn-default" href="#" role="button">Start Your Free 14-Day Trial</a>
					</div>

					<div class="pricing-cell">
						<h4><span>1</span> User</h4>
					</div>

					<div class="pricing-cell">
						<h4><span>2</span> Events a month</h4>
					</div>
			
					<div class="pricing-cell">
						
						<ul>
							<li><i class=""></i><span>1000</span> Profile
							</li>

							<li><i class="tooltip-top" data-tooltip="Schedule as many posts as you need with Buffer for Business. No more queue limits means less time managing your social media schedule!"></i><span>3000</span> total emails a month
							</li>

							<li><i class="tooltip-top" data-tooltip="Schedule as many posts as you need with Buffer for Business. No more queue limits means less time managing your social media schedule!"></i><span>Custom</span> Url
							</li>
						</ul>
						

					</div>

					


				</div>

				<div class="pricing-table-column" style=" width: 25%">
					<div class="pricing-cell pricing-cell--header">
						<h3><strong>Organiser</strong></h3>
						<p>Best for large events and tradeshows, who plan events in advance</p>
						<div class="pricing-table--price"><span>$149</span> per month</div>
						<br><br>
						<a class="btn btn-default" href="#" role="button">Start Your Free 14-Day Trial</a>
					</div>

					<div class="pricing-cell">
						<h4><span>3</span> Users</h4>
					</div>

					<div class="pricing-cell">
						<h4><span>Unlimited</span> Events a month</h4>
					</div>

					<div class="pricing-cell">

						<h5><span>7000</span> Profiles</h5>

						<h5><span>20000</span> total emails a month</h5>

						<h5><span>Custom</span> Url</h5>

						<h5><span>Remove</span> EventNinja Branding</h5>
													

					</div>


			</div>
			
				<div class="pricing-table-column" style=" width: 25%">
					<div class="pricing-cell pricing-cell--header">
						<h3><strong>Expo</strong></h3>
						<br>
						<br>
						<br>
						<br>
						<br>
						<br>
						<br>
						<br>
						<p>Need more events, more capacity or want a quote? Contact us</p>
						<br>
						<br>
						<br>
						<br><br>
						<br><br>
					</div>					
				</div>
			
		<div class="notification white nonprofit" >
			<p>.</p>
		</div>
	</div>

		</div>
	</div>
</div>


<div class="section gray">
	<div class="row">
		<div class="medium-10 large-9 medium-centered columns text-center">

			<h2 class="bottom_bar">No worries, your data is secure!</h2>

			<p>We will connect your Stripe account through a "read only" permission.</p>

			<div class="row">
				<div class="medium-4 columns text-center">
					<div class="security">
						<img src="assets/visibility-d42e7fd7ccaa925dcb3b9c42264a4ff09c57d1fa898c2ecf333bae52e12a387b.png" alt="Visibility d42e7fd7ccaa925dcb3b9c42264a4ff09c57d1fa898c2ecf333bae52e12a387b" />
						<p>We <strong>CANNOT</strong> create or manage your Stripe account.</p>
					</div>
				</div>
				<div class="medium-4 columns text-center">
					<div class="security">
						<img src="assets/money-6c1c7029e087a75876c9d93c75bb78d746b218884d037298edb71eb58b32cd09.png" alt="Money 6c1c7029e087a75876c9d93c75bb78d746b218884d037298edb71eb58b32cd09" />
						<p>We <strong>CANNOT</strong> transfer money or create transactions.</p>
					</div>
				</div>
				<div class="medium-4 columns text-center">
					<div class="security">
						<img src="assets/download-b869392628a9c65e15fe2dc0b70ed585e72232aa7c89482e50b7b6f6aaa9dcb1.png" alt="Download b869392628a9c65e15fe2dc0b70ed585e72232aa7c89482e50b7b6f6aaa9dcb1" />
						<p>We can <strong>ONLY</strong> read data from your Stripe account.</p>
					</div>
				</div>
			</div>

			<p>If at any point you decide to stop using EasyRetention, you can revoke our access from within Stripe, or delete your EasyRetention account entirely (and your data too).</p>

		</div>
	</div>
</div>


<div class="section">
	<div class="row">
		<div class="medium-10 large-8 medium-centered columns text-center">

			<h2 class="bottom_bar">Pricing as it should be.</h2>

			<!-- p>We hate complicated pricing structures.<br>That's why we decided to use a flat pricing:</p -->

			<div class="pricing">
				<span>$49</span>/month
			</div>

			<p class="money_back">Risk free, <strong>60-days free trial!</strong></p>
			<p class="business_plan"><strong>*</strong>Business plan is coming soon</p>

		</div>
	</div>
</div>

<div class="section gray">
	<div class="row">
		<div class="medium-10 large-9 medium-centered columns text-center">

			<h2 class="bottom_bar">Frequently Asked Questions</h2>

			<div class="row">
				<div class="medium-6 columns text-left">
					<h4>Do I need to have any technical skills?</h4>
					<p>Nope! You can connect your Stripe account to EasyRetention in one click. Literally. No code necessary.</p>
				</div>
				<div class="medium-6 columns text-left">
					<h4>Is EasyRetention Secure?</h4>
					<p>Completely. When you connect EasyRetention to your Stripe account you’re giving us read-only access. All interactions within the app are SSL-encrypted. And we'll never share your information with anyone.</p>
				</div>
				<div class="medium-6 columns text-left">
					<h4>Is there a way to get a discount?</h4>
					<p>Yes. The first 300 people that signup get 50% OFF for life.</p>
				</div>
				<div class="medium-6 columns text-left">
					<h4>Can I cancel anytime?</h4>
					<p>Whenever you want. Oh and we also offer 60 days money back guarantee. You are always in full control.</p>
				</div>
				<div class="medium-6 columns text-left">
					<h4>Do I need Stripe?</h4>
					<p>Yes. You need to be using Stripe's Subscription Billing feature. If your subscription billing is handled by a different plugin, we can't do our magic for you.</p>
				</div>
				<div class="medium-6 columns text-left">
					<h4>How does the 60-day money back guarantee work?</h4>
					<p>If you're not happy with your account and would like your money back, just contact us within the first 60 days and we'll gladly refund your money. Refunds can not be issued after your initial 60 days of use and we don’t prorate for partial months.</p>
				</div>
			</div>

		</div>
	</div>
</div>


<div class="section first">
	<div class="row">
		<div class="medium-10 large-7 medium-centered columns text-center">

			<div class="row">	
				<div class="medium-9 medium-centered columns">
					<h2 class="subtitle"><strong>EasyRetention is coming soon, don't let your competitors outsmart you!</strong></h2>
				</div>
			</div>

			<form action="//softi.us7.list-manage.com/subscribe/post?u=9de6c143943eb60e05fd84427&amp;id=06f9dfd459" method="post" name="mc-embedded-subscribe-form" target="_blank">
				<div class="row">
					<div class="medium-4 columns">
						<input type="text" value="" name="FNAME" class="mobile-margin" id="mce-FNAME" placeholder="Your name" required>
					</div>
					<div class=" medium-4 columns">
						<input type="email" value="" name="EMAIL" class="mobile-margin" id="mce-EMAIL" placeholder="Your email" required>
					</div>
					<div class="medium-4 columns">
						<input type="submit" class="cta cobalt medium uppercase full" value="Get a FREE invite">
					</div>
				</div>
			</form>
			<p class="mini">PSSST! The first 300 people will get 50% OFF EasyRetention for life!</p>

		</div>
	</div>
</div>

<footer>
Made with ♥ in London. <a href="">
</footer>